@media screen and (max-width: 1500px) {
    .under__navbar ul{
        gap: 54px;
    }
    
}
@media screen and (max-width: 1400px) {
    .under__navbar ul{
        gap: 45px;
    }
    .limited__time__item h1{
        font-size: 28px;
    }
    .limited__time__item h3{
        font-size: 18px;
    }
}
@media screen and (max-width: 1300px) {
    .under__navbar ul{
        gap: 40px;
    }
}
@media screen and (max-width: 1120px) {
    .under__navbar ul{
        gap: 26px;
    }
    .navbar__logo{
        width: 10%;
        height: 80%;
    }
    .navbar__input{
        height: 90%;
        width: 80%;
    }
    .limited__time__item{
        grid-gap: 10px;
    }
    .limited__time__item h1{
        font-size: 24px;
    }
    .limited__time__item h3{
        font-size: 16px;
    }
    .beautiful__finds__item{
        padding: 5px;
    }
    .beautiful__finds__item h3{
        padding-top: 30px;
    }
    .stay__cool__text{
        margin-left: 18%;
        height: auto;
    }
    .stay__cool__bg{
        height: 500px;
    }
    .stay__cool__text p{
        font-size: 70px;
    }
    .stay__cool__text h3{
        font-size: 24px;
    }
}
@media screen and (max-width: 990px) {
    .under__navbar{
        display: none;
    }
    .navbar__logo{
        width: 13%;
    }
    .navbar__icons{
        width: 10%;
        grid-gap: 12px;
    }
    .navbar__icons i{
        font-size: 20px;

    }
    .navbar__icons p{
        font-size: 10px;
    }
    .navbar{
        height: 70px;
    }
    .navbar__input input{
        font-size: 16px;
        height: 50%;
    }    
    .navbar__input>div{
        height: 50%;
    }
    .hamburger{
        display: inline-block;
        cursor: pointer;
    }
    .top__navbar p{
        font-size: 10px;
    }
    .top__navbar h4{
        font-size: 12px;
    }
    .top__flag{
        width: 20px;
        height: 20px;
    }
    .top__navbar{
        height: 25px;
    }
    .navbar__logo{
        display: none;
    }
    .second__logo{
        display: inline-block;
        height: 80%;
    }
    .stay__cool__bg,
    .elevate__space__bg,
    .home__saving__bg{
        width: 96%;
        margin-left: 2%;
    }
    .elevate__space__text h2,
    .home__saving__text h2{
        font-size: 50px;
    }
    .stay__cool__text p,
    .elevate__space__text h1,
    .home__saving__text h1{
    font-size: 100px;
    line-height: 0.8;
}
.stay__cool__text h3,
.elevate__space__text h3,
.home__saving__text h3{
    padding-top: 20px;
}
.stay__cool__text button,
.elevate__space__text button,
.home__saving__text button{
    font-size: 20px;
    background: #ED0000;
    padding: 15px 30px;
}
    .limited__time__item h3,
    .beautiful__finds__item h3{
        font-size: 16px;
    }
    .limited__time__item h1{
        font-size: 20px;
    }
    .beautiful__finds__item,
    .limited__time__item{
        height: auto;
    }
}
@media screen and (max-width: 850px) {
    .navbar__icons i{
        font-size: 18px;
    }
    .navbar__icons{
        grid-gap: 8px;
    }
    .navbar__icons p{
        font-size: 10px;
    }
    .navbar{
        gap: 10px;
    }
    .navbar__input{
        width: 70%;
    }
    .navbar__input input{
        height: 60%;
    }
    .navbar__input>div{
        height: 60%;
        width: 5%;
    }
    .navbar__icons i{
        font-size: 22px;
    }
    .hamburger{
        font-size: 22px;
    }
    .navbar__icons{
        grid-gap: 18px;
    }
    .beautiful__finds,
    .limited__time{
        grid-template-columns: repeat(4, 1fr);
    }
    .beautiful__finds__item,
    .limited__time__item{
        height: auto;
    }
    .stay__cool__text{
        margin-left: 12%;
    }
}
@media screen and (max-width: 700px) {
    .navbar{
        gap: 10px;
        padding: 0 10px;
    }   
    .navbar__icons{
        margin-left: 20px;
        grid-gap: 10px;
    }
    .navbar__icons i{
        font-size: 20px;
    }
    .navbar__input>div{
        width: 25px;
    }
    .second__logo{
        width: 40px;
        height: 70%;
    }
    .navbar__icons p{
        display: none;
    }
    .navbar__input input{
        height: 55%;
    }
    .navbar__input>div{
        height: 55%;
    }
    .stay__cool,
    .elevate__space,
    .home__saving{
    width: 100%;
    height: 400px;
    }
    .stay__cool__bg,
    .elevate__space__bg,
    .home__saving__bg{
        width: 96%;
        margin-left: 2%;
    }
    .stay__cool__text,
    .elevate__space__text,
    .home__saving__text{
        padding: 10px 10px;
    }
    .elevate__space__text h2,
    .home__saving__text h2{
        font-size: 40px;
    }
    .stay__cool__text p,
    .elevate__space__text h1,
    .home__saving__text h1{
        font-size: 80px;
        line-height: 0.8;
    }
    .stay__cool__text h3,
    .elevate__space__text h3,
    .home__saving__text h3{
        font-size: 24px;
        line-height: 0.8;
    }
    .stay__cool__text button,
    .elevate__space__text button,
    .home__saving__text button{
        font-size: 18px;
        margin-top: 10px;
    }
    .stay__cool__text{
        margin-left: 10px;
        min-width: 250px;
    }
}   
@media screen and (max-width: 500px) {
    .navbar{
        gap: 10px;
        padding: 0 5px;
    }
    .navbar__icons{
        grid-gap: 8px;
    }
    .navbar__icons i{
        font-size: 18px;
    }
    .hamburger{
        font-size: 18px;
    }
    .navbar__input>div i{
        font-size: 18px;
    }
    .navbar__input{
        width: 65%;
        height: 80%;
    }
    .second__logo{
        width: 35px;
        height: 65%;
    }
    .stay__cool__text,
    .elevate__space__text,
    .home__saving__text{
        left: 4%;
        text-align: start;
        min-width: 300px;
        padding: 0;

    }
    .stay__cool__bg,
    .elevate__space__bg,
    .home__saving__bg{
        object-fit: cover;
    }
    .elevate__space__text h2,
    .home__saving__text h2{
        font-size: 30px;
    }
    .stay__cool__text p,
    .elevate__space__text h1,
    .home__saving__text h1{
        font-size: 60px;
        line-height: 0.8;
    }
    .stay__cool__text h3,
    .elevate__space__text h3,
    .home__saving__text h3{
        font-size: 20px;
        line-height: 0.5;
    }
    .stay__cool__text button,
    .elevate__space__text button,
    .home__saving__text button{
        font-size: 18px;
        margin-top: 15px;
        padding: 13px 25px;
    }
    .stay__cool,
    .elevate__space,
    .home__saving{
        width: 100%;
    }
    .beautiful__finds__item h3,
    .limited__time__item h3{
        font-size: 14px;
    }
    .limited__time__item h1{
        font-size: 16px;
    }
    .beautiful__finds__item h3{
        padding-top: 10px;
    }
    .limited__time__title,
    .beautiful__finds__title{
        font-size: 35px;
    }
    .stay__cool__text{
        text-align: center;
        max-width: 350px;
    }
    .stay__cool__bg{
        height: 350px;
        margin-top: -25px;
    }
    .stay__cool__text h3{
        font-size: 16px;
    }
    .stay__cool__text button{
        margin-top: -15px;
    }
    .wrapper{
        width: 96%;
    }
}
@media screen and (max-width: 400px) {
    .fa-user{
        display: none;
    }
    .navbar{
        min-height: 80px;
        align-items: flex-start;
        padding: 10px 0;
        position: relative;
    }
    .second__logo{
        height: 40%;
        width: 40px;
        position: absolute;
        left: 10%;
        top: 2px;
    }
    .hamburger{
        position: absolute;
        left: 5%;
    }
    .navbar__input{
        position: absolute;
        height: 55px;
        bottom: 0;
        left: 5%;
        width: 90%;
    }    
    .navbar__icons{
        position: absolute;
        right: 10%;
        top: 10px;
        font-size: 20px;
    }
    .elevate__space__text,
    .home__saving__text{
        padding: 0;
        height: 90%;
        min-width: 250px;
        padding-top: 30px;
    }
    .stay__cool__text{
        min-width: 300px;
        padding: 0;
    }
    .stay__cool,
    .elevate__space,
    .home__saving{
        height: 350px;
    }
    .stay__cool__text h3{
        font-size: 14px;
        line-height: 1.2;
    }
    .stay__cool__text p{
        font-size: 40px;
    }
    .stay__cool{
        margin-top: 10px;
    }
    .beautiful__finds,
    .limited__time{
        grid-template-columns: repeat(3, 1fr);
    }
    .beautiful__finds__item h3,
    .limited__time__item h3{
        font-size: 15px;
    }
    .limited__time__title{
        font-size: 30px;
    }
    .beautiful__finds__title{
        font-size: 25px;
    }
    .stay__cool__bg{
        max-height: 300px;
    }
    .wrapper{
        width: 96%;
    }
}
@media screen and (max-width: 300px) {
    .navbar__input{
        left: 2%;
        width: 96%;
    }
    .hamburger{
        left: 2%;
    }
    .second__logo{
        left: 25px;
    }
    .navbar__icons{
        right: 10%;
    }
    .limited__time__title,
    .beautiful__finds__title{
        font-size: 20px;
    }
    .wrapper{
        width: 96%;
    }
}




