*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    max-width: 1550px;
    margin: auto;
    min-height: 500vh;
}
.top__navbar{
    width: 100%;
    height: 30px;
    background: #F9FAFB;
    border-bottom: 1px solid #DADCDF;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}
.top__navbar p{
    font-size: 12px;
    color: #9497A7;
}
.top__navbar h4{
    color: #444;
}
.top__flag{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: transparent;
}
.top__flag img{
    width: 100%;
    object-fit: cover;    
    height: 100%;
}
.navbar{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #DADCDF;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 15px;
}
.hamburger{
    font-size: 20px;
    display: none;
    color: #2F3337;
}
.navbar__logo{
    width: 13%;
    height: 80%;
}
.second__logo{
    width: 50px;
    height: 100%;
    display: none;
}
.second__logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar__logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar__input{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar__input input{
    width: 95%;
    height: 45%;
    padding: 0 10px;
    font-family: sans-serif;
    font-size: 18px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid #DADCDF;
}
.navbar__input>div{
    width: 4%;
    height: 45%;
    background: #FF1F2C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.navbar__input>div i{
    font-size: 20px;
}
.navbar__icons{
    width: 13%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}
.navbar__icons ul{
    list-style: none;
    text-align: center;
}
.navbar__icons p{
    font-size: 12px;
    font-weight: 100;
}
.navbar__icons i{
    font-size: 25px;
    color: #2F3337;
}
.under__navbar{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid #DADCDF;
    background: #fff;
}
.under__navbar ul{
    display: flex;
    gap: 58px;
    height: auto;
    list-style: none;
    font-size: 14px;
    cursor: pointer;
}
.under__navbar span{
    color: #C7202C;
}
.navigation{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
.stay__cool,
.elevate__space,
.home__saving{
    width: 100%;
    height: 550px;
    display: flex;
    position: relative;
    align-items: center;
}
.stay__cool__bg,
.elevate__space__bg,
.home__saving__bg{
    width: 92%;
    height: 100%;
    margin-left: 4%;
}
.stay__cool__text,
.elevate__space__text,
.home__saving__text{
    min-width: 400px;
    height: 80%;
    padding: 20px 20px;
    position: absolute;
    left: 4%;
    text-align: center;
    color: #fff;
    font-weight: 100;
}
.elevate__space__text h2,
.home__saving__text h2{
    font-size: 60px;
}
.stay__cool__text p,
.elevate__space__text h1,
.home__saving__text h1{
    font-size: 120px;
    line-height: 0.8;
}
.stay__cool__text h3,
.elevate__space__text h3,
.home__saving__text h3{
    font-size: 30px;
    line-height: 0.8;
}
.stay__cool__text button,
.elevate__space__text button,
.home__saving__text button{
    font-size: 20px;
    background: #ED0000;
    border: none;
    border-radius: 6px;
    padding: 15px 30px;
    color: #fff;
    margin-top: 20px;
}
.beautiful__finds__title,
.limited__time__title{
    text-align: center;
    margin: 30px;
}
.beautiful__finds,
.limited__time{
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 16px;
    padding: 0 2%;
}
.beautiful__finds__item,
.limited__time__item{
    padding: 15px 0;
    text-align: center;
    line-height: 1.2;
    height: 300px;
}
.beautiful__finds__item img,
.limited__time__item img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.beautiful__finds__item h3{
    padding-top: 50px;
}
.limited__time__item h1{
    color: #ED0000;
}
.beautiful__finds__item h3,
.limited__time__item h3{
    color: #444;
    cursor: pointer;
}
.elevate__space__text{
    color: #252525;
}
.elevate__space__text h3{
    padding-top: 22px;
}
.stay__cool__text h3{
    padding: 30px;
    padding-top: 40px;
}
.stay__cool__text{
    margin-left: 25%;
}